{% extends "base.html" %}
{% load static %}
{% block title %} Perfilamiento {% endblock %}

{% block content %}
<div class="container">
    <h1 style="padding-bottom: 50px;" >Déjanos saber un poco más de ti 😁</h1>
    <div class="row"style="padding-bottom: 50px;" >
        <div class="col-md-4">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="edad" placeholder="Edad">
        </div>
        <div class="col-md-4">
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
    </div>
    <div class="mt-4"style="padding-top=50px;padding-bottom: 50px;">
        <h2 style="padding-bottom: 50px;">¿Buscas un programa de cuánta duración?</h2>
        <div class="row">
            {% for time in times %}
            <div class="card col-md-4"style="max-width: 18%; max-height: 18%;">
                <a data-time-id="{{time}}" data-selected="false" id="time-link-{{time}}"class="time-link {{time}}" href=""><img id="time-image-{{time}}"src="{% static 'assets/img/time.jpeg' %}" class="rounded-circle img-fluid border inactive"></a>
            <h5 class="text-center mt-3 mb-3" style="text-transform: uppercase;">{{time}}</h5>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2 style="padding-bottom: 50px;">¿Cuál es tu presupuesto máximo para el programa?</h2>
        <div class="row mt-3 text-center">
            <div class="col-md-6">
                <label class="h3" for="budget">Presupuesto </label>
                <input type="range" style="width: 50%;"id="budget" name="budget" min="0" max="{{max_price}}" value="0">
            </div>
            <div class="col-md-6">
                <output for="budget" class="h4" id="budgetOutput">$0,00 COP</output>
            </div>
        </div>
    </div>
    <div class="mt-4"style="padding-top=50px;padding-bottom: 50px;">
        <h2 style="padding-bottom: 50px;">¿Cuál modalidad de estudio prefieres?</h2>
        <div class="row">
            {% for modality in modalities %}
            <div class="card col-md-4"style="max-width: 18%; max-height: 18%;">
                <a data-modality-id="{{modality}}" data-selected="false" id="modality-link-{{modality}}"class="modality-link {{modality}}" href=""><img id="modality-image-{{modality}}"src="{% static 'assets/img/modality.jpeg' %}" class="rounded-circle img-fluid border inactive"></a>
            <h5 class="text-center mt-3 mb-3" style="text-transform: uppercase;">{{modality}}</h5>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-4"style="padding-top=50px;padding-bottom: 50px;">
        <h2 style="padding-bottom: 50px;">¿Tienes estudios formales?</h2>
        <div class="row">
            <div class="card col-md-4"style="max-width: 25%; max-height: 25%;">
                <a id="studies-link"href=""><img id="studies-image"src="{% static 'assets/img/studies.jpg' %}" class="rounded-circle img-fluid border inactive"></a>
                <h5 class="text-center mt-3 mb-3" style="text-transform: uppercase;">Sí tengo</h5>
            </div>
            <div id="studies" style="display:none">
                <div class="row d-flex">
                    {% for level in levels %}
                    <div class="card col-md-4"style="max-width: 20%; max-height: 20%;">
                        <a id="{{level.0}}-link"href=""><img id="{{level.0}}-image"src="{% static 'assets/img/studies.jpg' %}" class="rounded-circle img-fluid border inactive"></a>
                        <h5 class="text-center mt-3 mb-3" style="text-transform: uppercase;">{{level.0}}</h5>
                    </div>
                    <div id="{{level.0}}" style="display:none">
                        <div class="row d-flex">
                            {% for under in level.1 %}
                            <div class="card col-md-4"style="max-width: 18%; max-height: 18%;">
                                <a data-course-id="{{under.idcourse}}" data-selected="false" id="course-link-{{under.idcourse}}"class="course-link {{level.0}}" href=""><img id="course-image-{{under.idcourse}}"src="{% static 'assets/img/studies.jpg' %}" class="rounded-circle img-fluid border inactive"></a>
                            <h5 class="text-center mt-3 mb-3" style="text-transform: uppercase;">{{under.name}}</h5>
                            </div>
                            <div id="university-{{under.idcourse}}" style="display:none">
                                <div class="row d-flex">
                                    {% for uni in under.universities %}
                                    <div class="card col-md-4"style="max-width: 15%; max-height: 15%;">
                                        <a data-university-id="{{uni.idcollege}}" data-selected="false" id="university-link-{{under.idcourse}}-{{uni.idcollege}}"data-course-id="{{under.idcourse}}"class="university-link" href=""><img id="university-image-{{under.idcourse}}-{{uni.idcollege}}"src="{{ uni.logo.url }}" class="rounded-circle img-fluid border inactive"></a>
                                    <h5 class="text-center mt-3 mb-3" style="text-transform: uppercase;">{{uni.name}}</h5>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>  
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card col-md-4"style="max-width: 25%; max-height: 25%;">
                <a id="no-studies-link"href=""><img id="no-studies-image"src="{% static 'assets/img/studies.jpg' %}" class="rounded-circle img-fluid border inactive"></a>
                <h5 class="text-center mt-3 mb-3" style="text-transform: uppercase;">No, Ninguno</h5>
            </div>
        </div>
    </div>
    <div class="mt-4"style="padding-top=50px;padding-bottom: 50px;">
        <h2 style="padding-bottom: 50px;">¿Cuáles son tus intereses?</h2>
        <div class="row">
            {% for label in labels %}
            <div class="card col-md-4"style="max-width: 15%; max-height: 15%;">
                <a data-label-id="{{label}}" data-selected="false" id="label-link-{{label}}"class="label-link {{label}}" href=""><img id="label-image-{{label}}"src="{% static 'assets/img/label.jpg' %}" class="rounded-circle img-fluid border inactive"></a>
            <h5 class="text-center mt-3 mb-3" style="text-transform: uppercase; font-size: 19px;">{{label}}</h5>
            </div>
            {% endfor %}
        </div>
    </div>
    <form id="my-form" method="POST" action="{% url 'results' %}">
        {% csrf_token %}
        <input type="hidden" name="studies" id="studies-selected" value="">
        {% for level in levels %}
        <input type="hidden" name="{{level.0}}" id="{{level.0}}-selected" value="">
        {% endfor %}
        <input type="hidden" name="courses" id="courses-selected" value="">
        <input type="hidden" name="modality" id="modality-selected" value="">
        <input type="hidden" name="times" id="times-selected" value="">
        <input type="hidden" name="labels" id="labels-selected" value="">
        <input type="hidden" name="budget" id="budget-selected" value="">
        <input type="hidden" name="universities" id="universities-selected" value="">
        <button type="submit" class="btn btn-primary send_button py-sm-3 px-sm-5">Enviar</button>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function unselect_image(item){
            item.classList.remove("active");
            item.classList.add("inactive");
        }
        function select_image(item){
            item.classList.remove("inactive");
            item.classList.add("active");
        }
        function unselect_universities(courseId){
            universityLinks.forEach (university => {
                const universityId = university.dataset.universityId;
                    const universityImage = document.getElementById(`university-image-${courseId}-${universityId}`);
                    const universityLink = document.getElementById(`university-link-${courseId}-${universityId}`);
                    if (universityLink && universityLink.classList.contains("selected")) {
                    unselect_image(universityImage)
                    universityLink.classList.remove("selected");
                    }
                }
            );
        }
        function unselect_courses(level){
            const levelLink = document.getElementById(level+"-link");
            const levelSection = document.getElementById(level);
            const levelImage = document.getElementById(level+"-image");
            if (levelSection.style.display === "block") {
                unselect_image(levelImage)
                levelSection.style.display = "none";
            }
            const courseLinks = document.querySelectorAll("."+level);
            courseLinks.forEach(course => {
                const courseId = course.dataset.courseId;
                const courseImage = document.getElementById(`course-image-${courseId}`);
                const courseLink = document.getElementById(`course-link-${courseId}`);
                const universitySection = document.getElementById(`university-${courseId}`);
                if (courseLink.classList.contains("selected")) {
                unselect_image(courseImage)
                courseLink.classList.remove("selected");
                universitySection.style.display = "none";
                }
                unselect_universities(courseId);
            });
        }
        const studiesLink = document.getElementById("studies-link");
        const studiesSection = document.getElementById("studies");
        const studiesImage = document.getElementById("studies-image");
        studiesLink.addEventListener("click", function(e) {
            e.preventDefault();
            if (studiesSection.style.display === "none") {
                if(noStudiesImage.classList.contains("active")){
                    unselect_image(noStudiesImage)
                }
                select_image(studiesImage)
                studiesSection.style.display = "block";
            } else {
                unselect_image(studiesImage)
                studiesSection.style.display = "none";
                unselect_courses("pregrado");
                unselect_courses("maestría");
                unselect_courses("doctorado");
            }
        });
        // This script display the studies section when "No, no tengo" option is selected
        const noStudiesLink = document.getElementById("no-studies-link");
        const noStudiesImage = document.getElementById("no-studies-image");
        const courseLinks = document.querySelectorAll(".course-link");
        noStudiesLink.addEventListener("click", function(e) {
            e.preventDefault();
            if (studiesSection.style.display === "block") {
                unselect_image(studiesImage)
                select_image(noStudiesImage)
                studiesSection.style.display = "none";
            }
            else{
                if(noStudiesImage.classList.contains("active")){
                    unselect_image(noStudiesImage)
                }
                else{
                    select_image(noStudiesImage)

                }
            }
            unselect_courses("pregrado");
            unselect_courses("maestría");
            unselect_courses("doctorado");
        });
        function event_level(level){
            const levelLink = document.getElementById(level+"-link");
            const levelSection = document.getElementById(level);
            const levelImage = document.getElementById(level+"-image");
            levelLink.addEventListener("click", function(e) {
            e.preventDefault();
            if (levelSection.style.display === "none") {
                select_image(levelImage)
                levelSection.style.display = "block";
            } else {
                unselect_courses(level)
            }
            });
        }
        event_level("pregrado")
        event_level("maestría")
        event_level("doctorado")
        courseLinks.forEach(function(link) {
            link.addEventListener("click", function(e) {
                e.preventDefault();
                const courseId = link.dataset.courseId;
                const courseImage = document.getElementById(`course-image-${courseId}`);
                const courseLink = document.getElementById(`course-link-${courseId}`);
                const universitySection = document.getElementById(`university-${courseId}`);
                if (courseLink.classList.contains("selected")) {
                unselect_image(courseImage)
                courseLink.classList.remove("selected");
                universitySection.style.display = "none";
                unselect_universities(courseId);
                } else {
                    select_image(courseImage)
                    courseLink.classList.add("selected");
                    universitySection.style.display = "block";
                }
            });
        });
        const universityLinks = document.querySelectorAll(".university-link");
        universityLinks.forEach(function(link) {
            link.addEventListener("click", function(e) {
                e.preventDefault();
                const universityId = link.dataset.universityId;
                const courseId = link.dataset.courseId;
                const universityImage = document.getElementById(`university-image-${courseId}-${universityId}`);
                const universityLink = document.getElementById(`university-link-${courseId}-${universityId}`);
                if (universityLink.classList.contains("selected")) {
                    unselect_image(universityImage)
                    universityLink.classList.remove("selected");
                } else{
                    select_image(universityImage)
                    universityLink.classList.add("selected");
                }
            });
        });
        const budgetInput = document.getElementById("budget");
        const budgetOutput = document.getElementById("budgetOutput");

        budgetInput.addEventListener("input", () => {
            const value = budgetInput.value;
            const formattedValue = new Intl.NumberFormat("es-ES", {
                style: "currency",
                currency: "COP"
            }).format(value);

            budgetOutput.textContent = "$"+formattedValue;
        });
        function unselect_things(thing){
            const thingLinks = document.querySelectorAll("."+thing+"-link");
            thingLinks.forEach (th => {
                const thingId = th.dataset[thing+"Id"];
                    const thingImage = document.getElementById(thing+`-image-${thingId}`);
                    const thingLink = document.getElementById(thing+`-link-${thingId}`);
                    if (thingLink && thingLink.classList.contains("selected")) {
                        unselect_image(thingImage)
                        thingLink.classList.remove("selected");
                    }
                }
            );
        }
        function singleLinks(thing){
            const thingLinks = document.querySelectorAll("."+thing+"-link");
            thingLinks.forEach(function(link) {
                link.addEventListener("click", function(e) {
                    e.preventDefault();
                    const thingId = link.dataset[thing+"Id"];
                    const thingImage = document.getElementById(`${thing}-image-${thingId}`);
                    const thingLink = document.getElementById(`${thing}-link-${thingId}`);
                    if (thingLink.classList.contains("selected")) {
                        unselect_image(thingImage)
                        thingLink.classList.remove("selected");
                    } else{
                        unselect_things(thing);
                        select_image(thingImage)
                        thingLink.classList.add("selected");
                    }
                });
            });
        }
        function multiplyLinks(thing){
            const thingLinks = document.querySelectorAll("."+thing+"-link");
            thingLinks.forEach(function(link) {
                link.addEventListener("click", function(e) {
                    e.preventDefault();
                    const thingId = link.dataset[thing+"Id"];
                    const thingImage = document.getElementById(`${thing}-image-${thingId}`);
                    const thingLink = document.getElementById(`${thing}-link-${thingId}`);
                    if (thingLink.classList.contains("selected")) {
                        unselect_image(thingImage)
                        thingLink.classList.remove("selected");
                    } else{
                        select_image(thingImage)
                        thingLink.classList.add("selected");
                    }
                });
            });
        }
        singleLinks("modality");
        multiplyLinks("time")
        multiplyLinks("label")
        const form = document.getElementById("my-form");
        const studiesSelected = document.getElementById("studies-selected");
        const undergraduateSelected = document.getElementById("pregrado-selected");
        const masterSelected = document.getElementById("maestría-selected");
        const doctorateSelected = document.getElementById("doctorado-selected");
        const modalitySelected = document.getElementById("modality-selected");
        const timesSelected = document.getElementById("times-selected");
        const labelsSelected = document.getElementById("labels-selected");
        const budgetSelected = document.getElementById("budget-selected");
        const coursesSelected = document.getElementById("courses-selected");
        const universitiesSelected = document.getElementById("universities-selected");
        const sendButton = document.querySelector(".send_button");

        sendButton.addEventListener("click", function(e) {
            e.preventDefault();
            const studies = document.getElementById("studies").style.display === "block" ? "yes" : "no";
            const undergraduate = document.getElementById("pregrado").style.display === "block" ? "undergraduate" : "";
            const master = document.getElementById("maestría").style.display === "block" ? "master" : "";
            const doctorate = document.getElementById("doctorado").style.display === "block" ? "doctorate" : "";
            const selectedCursos = document.querySelectorAll(".course-link.selected");
            const selectedUniversities = document.querySelectorAll(".university-link.selected");
            const selectedModality = document.querySelectorAll(".modality-link.selected");
            const selectedTime = document.querySelectorAll(".time-link.selected");
            const selectedLabels = document.querySelectorAll(".label-link.selected");
            const budget = document.getElementById("budget").value
            const courses = Array.from(selectedCursos).map(course => course.dataset.courseId);
            const modality = Array.from(selectedModality).map(modality => modality.dataset.modalityId);
            const times = Array.from(selectedTime).map(time => time.dataset.timeId);
            const labels = Array.from(selectedLabels).map(label => label.dataset.labelId);
            const universities = Array.from(selectedUniversities).map(university => university.dataset.universityId);
            studiesSelected.value = studies;
            undergraduateSelected.value = undergraduate;
            masterSelected.value = master;
            doctorateSelected.value = doctorate;   
            modalitySelected.value=modality;
            timesSelected.value = JSON.stringify({ times: times });
            labelsSelected.value = JSON.stringify({ labels: labels });
            budgetSelected.value = budget;
            coursesSelected.value = JSON.stringify({ courses: courses });
            universitiesSelected.value = JSON.stringify({ universities: universities }) ;
            form.submit();
        });
        
    });

</script>   

{% endblock %}