{% extends "base.html" %}
{% load static %}
{% block title %} Hola {% endblock %}

{% block content %}
<div class="container">
    <h1 style="padding-bottom: 50px;" >Déjanos saber un poco más de ti 😁</h1>
    
    <!-- Campos de texto en una sola fila con marcadores de posición -->
    <form>
        <div class="row"style="padding-bottom: 50px;" >
            <div class="col-md-4">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="edad" placeholder="Edad">
            </div>
            <div class="col-md-4">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
    </form>
    
    <div class="mt-4"style="padding-top=50px;padding-bottom: 50px;" ">
        <h2 style="padding-bottom: 50px;">¿Cuáles son tus estudios?</h2>
        <div class="row">
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Tecnologia">
                    <span class="circle">Bachillerato</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Software">
                    <span class="circle">Pregrado</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Especialización">
                    <span class="circle">Especialización</span>
                </label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Maestría">
                    <span class="circle">Maestría</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Doctorado">
                    <span class="circle">Doctorado</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Ninguno">
                    <span class="circle">Ninguno</span>
                </label>
            </div>
        </div>
    </div>

    <div class="mt-4"style="padding-top=50px;padding-bottom: 50px;" ">
        <h2 style="padding-bottom: 50px;">¿Cuáles son tus preferencias para tu próximo programa?</h2>
        <div class="row">
            <h3>Modalidad</h3>
            <div class="col-md-4">
                <label>
                    <input type="radio"name="modalidad" value="Virtual">
                    <span class="circle">Virtual</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio"name="modalidad" value="Presencial">
                    <span class="circle">Presencial</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" name="modalidad" value="Indifirente">
                    <span class="circle">Indiferente</span>
                </label>
            </div>
        </div>
        <div class="row mt-3">
            <h3>Tiempo</h3>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="horas1">
                    <span class="circle">30-100 horas</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="años2">
                    <span class="circle">1-2 años</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="años3">
                    <span class="circle">2-4 años</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="años4">
                    <span class="circle">Más de 4 años</span>
                </label>
            </div>
        </div>
    </div>
    <!-- Barra deslizable para el presupuesto -->
    <div class="row mt-3">
        <div class="col-md-6">
            <label for="presupuesto">Presupuesto    </label>
            <input type="range" id="presupuesto" name="presupuesto" min="0" max="150000000" value="0">
        </div>
        <div class="col-md-6">
            <output for="presupuesto" id="presupuestoOutput">$0 Pesos</output>
        </div>
    </div>
    <script>
        const presupuestoInput = document.getElementById("presupuesto");
        const presupuestoOutput = document.getElementById("presupuestoOutput");
    
        presupuestoInput.addEventListener("input", () => {
            const value = presupuestoInput.value;
            const formattedValue = new Intl.NumberFormat("es-ES", {
                style: "currency",
                currency: "COP"
            }).format(value);
    
            presupuestoOutput.textContent = formattedValue;
        });
    </script>
    
    
    
    
    
    

    <div class="mt-4"style="padding-top=50px;padding-bottom: 50px;">
        <h2 style="padding-bottom: 50px;">Cuéntanos qué te gusta y/o en qué tienes interés</h2>
        <div class="row">
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Tecnologia">
                    <span class="circle">Tecnología</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Software">
                    <span class="circle">Software</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Programacion">
                    <span class="circle">Programación</span>
                </label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Sistemas">
                    <span class="circle">Sistemas</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Informatica">
                    <span class="circle">Informática</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Vehiculos">
                    <span class="circle">Vehículos</span>
                </label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Espacio">
                    <span class="circle">Espacio</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Cohetes">
                    <span class="circle">Cohetes</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Aeronaves">
                    <span class="circle">Aeronaves</span>
                </label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Maquinas">
                    <span class="circle">Máquinas</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Engranajes">
                    <span class="circle">Engranajes</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Construcción">
                    <span class="circle">Construcción</span>
                </label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Obras Civiles">
                    <span class="circle">Obras Civiles</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Ambiente">
                    <span class="circle">Ambiente</span>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Naturaleza">
                    <span class="circle">Naturaleza</span>
                </label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label>
                    <input type="radio" value="Medio Ambiente">
                    <span class="circle">Medio Ambiente</span>
                </label>
            </div>
        </div>
    </div>
    <a href="{% url 'resultados' %}" class="btn btn-primary py-sm-3 px-sm-5">Enviar</a>


</div>
{% endblock %}
